<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</head>
    <style>
        table, th, td{
            border: 3px solid purple;
        }
    </style>
<center>
    <table style width: 100%>
        <tr>
        <th>OneStolb</th>
        <th>SecondStolb</th>
        <th>TriStolb</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>Name1</td>
            <td>Name2</td>
            </tr>
            <tr>
                <td>DontName</td>>
                <td>DontName1</td>>
                <td>DontName2</td>>
                </tr>>
    </table>
    </center>
    <body>
        <p><a href = "text"> Хз, текст мда лол</a></p>
        <p><a href = "table">Хз, таблица мда лол</a></p>
            <p><a href = "image"> Хз, Фоточка 18+ мда лол</a></p>
</body>
</html>